html {
    height: 100%;
}
body {
    background-image: url('../img/551070_51362643.jpg');
    width: 100%;
    height: 100%;
}
div {
    display: block;
    overflow: auto;
}
button {
   font-size: large;
   font-weight: bold;
   margin: 2%;
}
.content {
    background-color:#FFFFFF;
    min-height: 60vh;
    width: 80%;
    margin: 0 auto;
    padding-top: 1%;
    padding-left: 5%;
    padding-right:5%;
}
.jumbotron {
    margin-bottom: 0;
    background-image: url('../img/header.jpg');
    background-size:cover;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}
.content-first{
    float:left;
    display: block;
}
.content-second {
    margin-left: 5%;
    float:left;
    display: block; 
}
.content-third{
    margin-left: 10%;
    float:left;
    display: block;
}

.footer {
    background-color: #DBDBDB;
    width: 80%;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
    height: 10em;
    padding-top: 1%;
}
.bottom-first {
    margin-left: 5%;
    float:left;
    display: block;
}
.bottom-second {
    margin-left: 70%;
    float:left;
    display: block;
}
